body * {
    font-family: 'baskervvol';
}

#title {
    padding-top: 0.5em;
    float: left;
}

#settings {
    padding-left: 10px;
    padding-top: 1000px;
}

a:visited, a:link {
    text-decoration: none;
    color: black;
    font-family: 'ft88gothique';
}

h1 {
    font-size: 350%;
}

h2 {
    font-family: 'tricksterregular';
    font-size: 150%;
}

#footer {
    border-top: 1 px solid black;
    text-align: center;
}

.player_selectorDiv {
    display: none;
}

.player_selector {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#players_buttons {
    background-color: violet;
}

#armies_selector {
    background-color: aquamarine;
}

.unit_selector {
    display: none;
};