body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

option * {
    font-family: 'baskervvol';
    font-size: 15pt;
}

a:visited, a:link {
    text-decoration: none;
    color: black;
}

#header {
    text-align: center;
}

h1 {
    font-size: 400% !important;
    font-family: 'ft88gothique' !important;
}

h2 {
    font-family: 'tricksterregular';
    font-size: 150%;
}



.player_entry {
    margin-bottom: 5pt !important;
}

.player_selectorDiv {
    display: none;
}

.player_selector {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#players_buttons {
    background-color: violet;
}

#armies_selector {
    background-color: aquamarine;
}

.unit_selector {
    display: none;
};